.monsterhiring #twitter-widget-0 body {
  display: none;
}
.jobsbluegradient {
  background-color: #8bbce2;
  background-image: -webkit-linear-gradient(top, #8bbce2, #6286a1);
  background-image: -moz-linear-gradient(top, #8bbce2, #6286a1);
  background-image: -o-linear-gradient(top, #8bbce2, #6286a1);
  background-image: -ms-linear-gradient(top, #8bbce2, #6286a1);
  background-image: linear-gradient(top, #8bbce2, #6286a1);
}
.noborderradius {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.jobsbluegardient {
  background: #8bbce2;
  /* Old browsers */
  background: -moz-linear-gradient(top, #8bbce2 0%, #6286a1 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8bbce2), color-stop(100%, #6286a1));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #8bbce2 0%, #6286a1 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #8bbce2 0%, #6286a1 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #8bbce2 0%, #6286a1 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #8bbce2 0%, #6286a1 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8bbce2', endColorstr='#6286a1', GradientType=0);
  /* IE6-9 */
}
.transparent {
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  /* IE 5-7 */
  filter: alpha(opacity=0);
  /* Netscape */
  -moz-opacity: 0;
  /* Safari 1.x */
  -khtml-opacity: 0;
  /* Good browsers */
  opacity: 0;
}
.row {
  margin-left: 0;
  margin-right: 0;
}
body {
  background-color: #f7f7fd;
}
@media only screen and (max-width: 767px) {
  .right {
    padding-left: 0;
    padding-right: 0;
  }
}
.right .title h3 {
  float: left;
}
.right .title .year {
  float: right;
  width: initial;
  height: 26px;
  padding: 0px 12px;
}
@media only screen and (max-width: 767px) {
  .right .financial-search button {
    width: 100%;
  }
}
.right .article-list .first-news .img-container {
  padding-left: 0;
  padding-right: 0;
}
.right .article-list .first-news h4 {
  margin-top: 0;
}
.right .article-list table {
  width: 100%;
  margin: 20px auto;
}
.right .article-list table thead {
  background-color: #8bbce2;
}
.right .article-list table thead th {
  padding: 10px;
  text-align: center;
  color: #fff;
}
.right .article-list table tbody tr:nth-child(even) {
  background-color: #ddebf6;
}
.right .article-list table tbody td {
  text-align: center;
  padding: 10px 5px;
}
.right .article-list table tbody td:nth-child(3n+1) {
  text-align: left;
}
.right .article-list table tbody td i {
  font-size: 1.5em;
  color: #909090;
}
.right .article-list table tbody td i:hover {
  cursor: pointer;
  color: #ff6a00;
}
.right .article-list .pages-nav {
  list-style: none;
  text-align: right;
}
.right .article-list .pages-nav li {
  display: inline-block;
}
.right .article-list .pages-nav li.divider {
  color: rgba(178, 178, 178, 0.65);
}
