.monsterhiring #twitter-widget-0 body {
  display: none;
}
.jobsbluegradient {
  background-color: #8bbce2;
  background-image: -webkit-linear-gradient(top, #8bbce2, #6286a1);
  background-image: -moz-linear-gradient(top, #8bbce2, #6286a1);
  background-image: -o-linear-gradient(top, #8bbce2, #6286a1);
  background-image: -ms-linear-gradient(top, #8bbce2, #6286a1);
  background-image: linear-gradient(top, #8bbce2, #6286a1);
}
.noborderradius {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.jobsbluegardient {
  background: #8bbce2;
  /* Old browsers */
  background: -moz-linear-gradient(top, #8bbce2 0%, #6286a1 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8bbce2), color-stop(100%, #6286a1));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #8bbce2 0%, #6286a1 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #8bbce2 0%, #6286a1 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #8bbce2 0%, #6286a1 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #8bbce2 0%, #6286a1 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8bbce2', endColorstr='#6286a1', GradientType=0);
  /* IE6-9 */
}
.transparent {
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  /* IE 5-7 */
  filter: alpha(opacity=0);
  /* Netscape */
  -moz-opacity: 0;
  /* Safari 1.x */
  -khtml-opacity: 0;
  /* Good browsers */
  opacity: 0;
}
body {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
.row {
  margin-left: 0;
  margin-right: 0;
}
.nav {
  margin-top: 20px;
  font-size: 1.3em;
}
.nav.fixed {
  position: fixed;
  top: 4px;
}
.nav a {
  color: #999;
}
.nav > li > a {
  padding: 5px 15px;
}
.nav > li > a:hover {
  background-color: #8bbce2;
  color: #fff;
}
.nav .active > a {
  color: #8bbce2;
  border-left: 2px solid #8bbce2;
}
.page-title {
  text-align: center;
  margin-bottom: 0;
  background-image: url(../../images/employer_bg/header.jpg);
  background-position: bottom center;
  background-size: cover;
  color: #fff;
}
.jumbotron h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}
.main {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
}
.main .jumbotron {
  text-align: center;
  margin-bottom: 20px;
}
.main .jumbotron h1 {
  margin-top: 10px;
}
.main article {
  margin-bottom: 20px;
}
.main article .jumbotron {
  color: white;
  background-size: cover;
  background-position: center center;
}
.main article.history header {
  background-image: url(../../images/employer_bg/history.jpg);
}
.main article.advantage header {
  background-image: url(../../images/employer_bg/advantage.jpg);
  background-position: center top;
}
.main article.customers header {
  background-image: url(../../images/employer_bg/customer.jpg);
}
.main article.customers .img-container,
.main article.customers .more-customers {
  text-align: center;
}
.main article.customers .img-container img,
.main article.customers .more-customers img {
  max-width: 300px;
  border-radius: 50%;
}
.main article.customers .more-customers ul {
  padding-left: 0;
  list-style: none;
}
.main article.customers .more-customers ul li {
  display: inline-block;
  margin-bottom: 20px;
}
.main article.customers .more-customers ul .tooltip {
  font-size: 1.5em;
}
.main article.connect header {
  background-image: url(../../images/employer_bg/connect.jpg);
  color: #333;
}
.main article.connect .more-connects {
  text-align: center;
  font-size: 2em;
  margin-top: 10px;
}
footer {
  -moz-box-shadow: inset 0px 8px 9px #333;
  -webkit-box-shadow: inset 0px 8px 9px #333;
  box-shadow: inset 0px 8px 9px #333;
  text-align: center;
  background-color: #6286a1;
  background-image: url(../../images/parralax/bg-5.jpg);
  background-size: cover;
  background-position: center center;
  color: #999;
  text-shadow: none;
  height: auto;
}
footer .searchbox {
  padding: 100px 0;
}
footer .searchbox h1 {
  color: #fff;
}
footer .searchbox form input,
footer .searchbox form a {
  width: 300px;
  height: 2.5em;
  margin-top: .25em;
  margin-bottom: .25em;
}
footer .searchbox form .btn {
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  border-width: 3px;
  border-color: #fff;
  font-weight: normal;
  font-size: 16px;
}
footer .searchbox form .btn:hover {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
}
